# Ignore node_modules (we install fresh inside the container)
node_modules

# Ignore debug logs
npm-debug.log

# Ignore Docker config files themselves
Dockerfile
docker-compose.yml

# Ignore Git files
.git
.gitignore
